@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


html{
  position:relative;
  min-height: 100%;

}



main {
  margin-bottom: 350px;
}
/* Format mobile */

.logo {
    height: 80px;
  }
  
  .navbar {
    height: 100px;
    
  }
  /* photo home */
    .picture-home {
        background-image: url(../public/images/img-home.jpg);
        background-size: cover;
        display: flex;
        justify-content: right;  
        align-items: center;     
        height: 300px; 
        background-size: cover;   
        background-position: center;
        filter: brightness(0.8);
    }

   /* Paragraphe animaux */

        .image-resize {
          width: 80%; 
          max-width: 300px; 
          height: auto;
        }

    
  .section-animaux {
  clear: both; 
  margin-top: 50px; 
}

   /* Avis */
  #img-avis {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  .card {
    border: none;
  }
  .section-avis {
    margin-top: 90px;
  }  
 
  /* Actualité */

  .section-news {
   margin-top: 80px;
  }
  .text-news {
    text-align: justify;
    max-width: 400px;
  }
  .title-event {
    margin: 15px 25px;
  }
  .text-news {
    margin-top: 20px 20px;;
  }
   /* footer */

   footer.footer {
   padding: 15px;
   position: absolute;
   bottom: 0;
   width: 100%;
  }

  /* Le zoo */
  .list-lezoo {
    list-style: none;
  }

  .square-lezoo {
    height: 330px;
    width: 290px;
    
  }
  .nb-box {
    margin-top: 50px;
  }

  /* Page contact */
  .page-contact {
    margin-top: 40px;
   }

   .zoo-map {
    height: 300px;
    width: 300px;
   }
   .section-map {
    margin-top: 40px;
    clear: both;
   }

  
  
  /* Format tablette */
  
  @media screen and (min-width: 768px) {
    .logo {
      height: 100px;
    }
    .navbar {
      height: 150px;
    }

    /* photo home */

    .picture-home {
        display: flex;
        justify-content: right;  
        align-items: center;     
        height: 350px; 
        background-size: cover;   
        background-position: center;
        }
      /* Section animaux */
    .section-animaux {
        clear: both; 
        margin-top: 130px; 
}
    /* Avis */

    #img-avis {
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
    .card {
      border: none;
    }

    footer.footer {
    padding: 15px;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    }

     /* Le zoo */
    .list-lezoo {
    list-style: none;
  }
  .square-lezoo {
    height: 330px;
    width: 290px;
    
  }
  .nb-box {
    margin-top: 50px;
  }

  }
  /* Page contact */
  .page-contact {
    margin-top: 40px;
   }

   .zoo-map {
    height: 300px;
    width: 300px;
   }
   .section-map {
    margin-top: 40px;
    clear: both;
   }

  
  /* Format desktop */
  
  @media screen and (min-width: 1024px) {
    .logo {
      height: 100px;
    }
    .navbar {
      height: 100px;
    }
  
   .image-resize {
    height: 400px;
    width: 400px;
   } 

   /* Welcome section */

   .pic-welcome1 img {
    width: 200px;
    height: auto;
   }
 
   .pic-welcome2 img {
    width: 60%;
    height: auto;

   }
  /* Section animaux */
.section-animaux {
  clear: both; 
  margin-top: 150px; 
}
  
   /* Avis */

   #img-avis {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .card {
    border: none;
  }
  /* Actualités */

  .image-resize {
    height: 200px;
    width: 200px;
  }

  /* footer */

    footer.footer {
    padding: 20px;
    margin-top: 60px
    
  }

   /* Le zoo */
   .list-lezoo {
    list-style: none;
  }

  /* Page contact */
 .page-contact {
  margin-top: 100px;
 }


  }
