@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


html{
  position:relative;
  min-height: 100%;

}



main {
  margin-bottom: 350px;
}
/* Format mobile */

.logo {
    height: 80px;
  }
  
  .navbar {
    height: 100px;
  
  }
  .navbar-collapse {
    z-index: 2;
}
.nav-link {
  color: $secondary;
  font-family: poppins;
}

  /* photo home */
    .picture-home {
        background-image: url(../public/images/img-home.jpg);
        background-size: cover;
        display: flex;
        justify-content: right;  
        align-items: center;     
        height: 300px; 
        background-size: cover;   
        background-position: center;
        filter: brightness(0.8);
    }
    .click-header {
      margin-right: 40px;
      font-family: lora;
    }
    .title-infos {
      font-family: poppins;
      font-size: 15px;
    
     }
     .box-infos {
      display: flex;            
      justify-content: center;   
      align-items: center; 
      margin-bottom: 70px;
      height: 100px;
      width: 80px;
      margin-top: -70px;
      z-index: 1;
    
     }
    
  /* Section Welcome */
  .title-welcome, .subtitle-welcome {
    font-family: poppins;
   }
   .subtitle-welcome {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
   }
   .text-section {
    margin: auto;
    max-width: 600px;
    font-family: lora;
    text-align: justify;
    margin-bottom: 20px;
    text-justify: inter-word;
    line-height: 1.6;
   }
   /* Paragraphe animaux */

        .image-resize {
          width: 80%; 
          max-width: 300px; 
          height: auto;
        }

    
  .section-animaux {
  clear: both; 
  margin-top: 50px; 
}

   /* Avis */
  #img-avis {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  .card {
    border: none;
  }
  .section-avis {
    margin-top: 90px;
  }  
 
  /* Actualité */

  .section-news {
   margin-top: 80px;
  }
  .text-news {
    text-align: justify;
    max-width: 400px;
  }
  .title-event {
    margin: 15px 25px;
  }
  .text-news {
    margin-top: 20px 20px;;
  }
   /* footer */

   footer.footer {
   padding: 15px;
   position: absolute;
   bottom: 0;
   width: 100%;
  }

  /* Le zoo */
  .list-lezoo {
    list-style: none;
  }

  .square-lezoo {
    height: 330px;
    width: 290px;
    
  }
  .nb-box {
    margin-top: 50px;
  }

  /* Page contact */
  .page-contact {
    margin-top: 40px;
   }

   .zoo-map {
    height: 300px;
    width: 300px;
   }
   .section-map {
    margin-top: 40px;
    clear: both;
   }
  /* Services */
  .text-restaurant, .text-habitat, .text-zoo {
    max-width: 350px;
    text-align: justify;
  }

  /* Savane Animaux */
  .details-savane {
    max-width: 400px;
    text-align: justify;
    margin: auto;
  
  }
  .savane-section {
    margin-top: 80px;
  }

  /* Jungle Animaux */
.details-jungle {
  max-width: 400px;
  text-align: justify;
  margin: auto;
}
.jungle-section {
  margin-top: 80px;
}

/* Marais Aniamaux */
.marais-section {
  margin-top: 50px;
}
.animaux-section {
  margin-top: 50px;
}
.title-animaux-marais {
  margin-bottom: 50px;
}
/* Page login */
.header-login {
  height: 150px;
  width: 100%;
}
.title-login {
  height: 190px;
  clear: both;
}
.container-form {
  margin-top: 50px;
}

  
  
  /* Format tablette */
  
  @media screen and (min-width: 768px) {
    .logo {
      height: 100px;
    }
    .navbar {
      height: 150px;
    }
    .nav-link {
      color: $secondary;
    }


    /* photo home */

.picture-home {
        display: flex;
        justify-content: right;  
        align-items: center;     
        height: 350px; 
        background-size: cover;   
        background-position: center;
        }

.click-header {
        margin-right: 40px;
        }
      /* Section animaux */
.section-animaux {
        clear: both; 
        margin-top: 130px; 
}
.title-infos {
  font-family: poppins;
  font-size: 15px;

 }
 .box-infos {
  display: flex;            
  justify-content: center;   
  align-items: center; 
  margin-bottom: 90px;
  height: 120px;
  margin-top: -70px;
  z-index: 1;

 }
 /* Section Welcome */
 .title-welcome, .subtitle-welcome {
  font-family: poppins;
 }
 .subtitle-welcome {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
 }
 .text-section {
  margin: auto;
  max-width: 600px;
  font-family: lora;
  text-align: justify;
  margin-bottom: 20px;
  text-justify: inter-word;
  line-height: 1.6;
 }
    /* Avis */

    #img-avis {
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
    .card {
      border: none;
    }

    footer.footer {
    padding: 15px;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    }

     /* Le zoo */
    .list-lezoo {
    list-style: none;
  }
  .square-lezoo {
    height: 330px;
    width: 290px;
    
  }
  .nb-box {
    margin-top: 50px;
  }

  }
  /* Page contact */
  .page-contact {
    margin-top: 40px;
   }

   .zoo-map {
    height: 300px;
    width: 300px;
   }
   .section-map {
    margin-top: 40px;
    clear: both;
   }

   /* Services */
  .text-restaurant, .text-habitat, .text-zoo {
    max-width: 350px;
    text-align: justify;
  }

  /* Savane Animaux */
  .details-savane {
    max-width: 400px;
    text-align: justify;
    margin: auto;
  
  }
  .savane-section {
    margin-top: 80px;
  }
  /* Jungle Animaux */
.details-jungle {
  max-width: 400px;
  text-align: justify;
  margin: auto;
}
.jungle-section {
  margin-top: 80px;
}

/* Marais Aniamaux */
.marais-section {
  margin-top: 50px;
}
.animaux-section {
  margin-top: 50px;
}
.title-animaux-marais {
  margin-bottom: 50px;
}
/* Page login */
.header-login {
  height: 150px;
  width: 100%;
}
.title-login {
  height: 190px;
  clear: both;
}
.container-form {
  margin-top: 50px;
}

  
  /* Format desktop */
  
  @media screen and (min-width: 1024px) {
    .logo {
      height: 100px;
    }
    .navbar {
      height: 100px;
    }
    .nav-link {
      color: $primary;
    }
  
   .image-resize {
    height: 400px;
    width: 400px;
   } 

   /* Welcome section */

   .title-welcome, .subtitle-welcome {
    font-family: poppins;
   }
   .subtitle-welcome {
    font-size: 25px;
    margin-bottom: 80px;
   }
   .text-section {
    margin: auto;
    max-width: 600px;
    font-family: lora;
    text-align: justify;
    margin-bottom: 20px;
    text-justify: inter-word;
    line-height: 1.6;
   }
   .pic-welcome1 img {
    width: 200px;
    height: auto;
   }
 
   .pic-welcome2 img {
    width: 60%;
    height: auto;

   }
   .click-header {
    margin-right: 50px;
  }
 .title-infos {
  font-family: poppins;
  font-size: 20px;

 }
 .box-infos {
  display: flex;            
  justify-content: center;   
  align-items: center; 
  margin-bottom: 90px;
  height: 160px;
  width: 300px;
  margin-top: -70px;
  z-index: 1;

 }
  /* Section animaux */
.section-animaux {
  clear: both; 
  margin-top: 150px; 
}
  
   /* Avis */

   #img-avis {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .card {
    border: none;
  }
  /* Actualités */

  .image-resize {
    height: 200px;
    width: 200px;
  }

  /* footer */

    footer.footer {
    padding: 20px;
    margin-top: 60px
    
  }

   /* Le zoo */
   .list-lezoo {
    list-style: none;
  }

  /* Page contact */
 .page-contact {
  margin-top: 100px;
 }

/* Services */
.text-restaurant, .text-habitat, .text-zoo {
  max-width: 550px;
  text-align: justify;
}

/* Savane Animaux */

.details-savane {
  max-width: 600px;
  text-align: justify;
  margin: auto;
}
.img-winnie {

  background-image: url(../public/images/img-animals/winnie-antilope.jpg);


}

/* Jungle Animaux */
.details-jungle {
  max-width: 600px;
  text-align: justify;
  margin: auto;
}

/* Marais Aniamaux */
.marais-section {
  margin-top: 80px;
}
.animaux-section {
  margin-top: 80px;
}
.title-animaux-marais {
  margin-bottom: 80px;
}
/* Page login */
.header-login {
  height: 150px;
  width: 100%;
}

.custom-width-input {
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.form-label {
  margin-left: 25%;
}

.container-form {
  height: 800px;
  width: 550px;
  margin-bottom: 200px;
  
}
.btn-login {
  height: 45px;
  width: 100px;
  margin-left: -395px;
}




  }
